<md-dialog class="md-padding card" style="width: 1200px">
    <md-divider></md-divider>
    <md-card ng-class="{'md-whiteframe-4dp':hovering}"
             ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" ng-if = "robeUsluge.length > 0">
        <md-table-container>
            <table md-table>
                <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column><span>Naziv robe/usluge</span></th>
                    <th md-column><span>Tip</span></th>
                    <th md-column><span>Cena</span></th>
                    <th md-column><span>Jedinica mere</span></th>
                    <th md-column><span>Procenat rabata</span></th>
                    <th md-column><span>Procenat poreza</span></th>
                    <th md-column><span>Količina</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="robaUsluga in robeUsluge | limitTo: query.limit:(query.page-1) * query.limit"
                    ng-click="null">
                    <td md-cell>{{robaUsluga.naziv}}</td>
                    <td md-cell>{{robaUsluga.tip ? "usluga" : "roba"}}</td>
                    <td md-cell>{{robaUsluga.cena}}</td>
                    <td md-cell>{{robaUsluga.jedinicaMere}}</td>
                    <td md-cell>{{robaUsluga.procenatPoreza}}</td>
                    <td md-cell>{{robaUsluga.procenatRabata}}</td>
                    <td md-cell>
                        <input data-ng-model="kolicina" placeholder="Unesite količinu..." ng-pattern = "/^[1-9][0-9]{0,9}([,.][0-9]{2})?$/">
                    </td>
                    <td md-cell>
                        <md-button class = "md-raised" ng-click = "addRobaUsluga(robaUsluga)" ng-disabled="!(kolicina > 0)">
                            Dodaj
                        </md-button>
                    </td>

                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{robeUsluge.length}}" md-page-select
                             md-boundary-links="options.boundaryLinks" md-label="{page: 'Stranica:', rowsPerPage: 'redova po stranici', of: 'od'}">
        </md-table-pagination>
    </md-card>
    <h3 class="text-center" ng-if = "robeUsluge.length == 0">Ne postoje roba i usluge.</h3>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-click="close()">Zatvori</md-button>
        <md-button type="submit" class="md-primary md-raised" ng-click="close()">Završi dodavanje</md-button>
    </md-dialog-actions>
</md-dialog>