<md-dialog class="md-padding card" style="width: 1200px">
    <md-divider></md-divider>
    <md-card ng-class="{'md-whiteframe-4dp':hovering}"
             ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" ng-if = "izvod.analitikeIzvoda.length > 0">
        <md-table-container>
            <table md-table>
                <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column><span>Datum naloga</span></th>
                    <th md-column><span>Smer</span></th>
                    <th md-column><span>Svrha plaćanja</span></th>
                    <th md-column><span>Iznos</span></th>
                    <th md-column><span>Dužnik</span></th>
                    <th md-column><span>Račun dužnika</span></th>
                    <th md-column><span>Poverilac</span></th>
                    <th md-column><span>Račun poverioca</span></th>
                    <th md-column><span>Datum valute</span></th>
                    <th md-column><span>Model zaduženja</span></th>
                    <th md-column><span>Poziv na broj zaduženja</span></th>
                    <th md-column><span>Model odobrenja</span></th>
                    <th md-column><span>Poziv na broj odobrenja</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="stavka in izvod.analitikeIzvoda | limitTo: query.limit:(query.page-1) * query.limit"
                    ng-click="null">
                    <td md-cell>{{stavka.datumNaloga | date: 'dd-MM-yyyy'}}</td>
                    <td md-cell>{{stavka.smer ? "K" : "T"}}</td>
                    <td md-cell>{{stavka.svrhaPlacanja}}</td>
                    <td md-cell>{{stavka.iznos}}</td>
                    <td md-cell>{{stavka.duznik}}</td>
                    <td md-cell>{{stavka.racunDuznika}}</td>
                    <td md-cell>{{stavka.poverilac}}</td>
                    <td md-cell>{{stavka.racunPoverioca}}</td>
                    <td md-cell>{{stavka.datumValute | date: 'dd-MM-yyyy'}}</td>
                    <td md-cell>{{stavka.modelZaduzenja}}</td>
                    <td md-cell>{{stavka.pozivNaBrojZaduzenja}}</td>
                    <td md-cell>{{stavka.modelOdobrenja}}</td>
                    <td md-cell>{{stavka.pozivNaBrojOdobrenja}}</td>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{izvod.analitikeIzvoda.length}}" md-page-select
                             md-boundary-links="options.boundaryLinks" md-label="{page: 'Stranica:', rowsPerPage: 'redova po stranici', of: 'od'}">
        </md-table-pagination>
    </md-card>
    <h3 class="text-center" ng-if = "izvod.analitikeIzvoda.length == 0">Ovaj izvod nema nijednu stavku.</h3>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-click="close()">Zatvori</md-button>
    </md-dialog-actions>
</md-dialog>