<md-dialog class="md-padding card" style="width: 1200px">
    <md-divider></md-divider>
    <md-card ng-class="{'md-whiteframe-4dp':hovering}"
             ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" ng-if = "stavkeFakture.length > 0">
        <md-table-container>
            <table md-table>
                <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column><span>Redni broj</span></th>
                    <th md-column><span>Naziv robe/usluge</span></th>
                    <th md-column><span>Količina</span></th>
                    <th md-column><span>Jedinica mere</span></th>
                    <th md-column><span>Jedinicna cena</span></th>
                    <th md-column><span>Vrednost</span></th>
                    <th md-column><span>Procenat rabata</span></th>
                    <th md-column><span>Iznos rabata</span></th>
                    <th md-column><span>Umanjeno za rabat</span></th>
                    <th md-column><span>Ukupan porez</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="stavka in stavkeFakture | limitTo: query.limit:(query.page-1) * query.limit"
                    ng-click="null">
                    <td md-cell>{{stavka.redniBroj}}</td>
                    <td md-cell>{{stavka.nazivRobeUsluge}}</td>
                    <td md-cell>{{stavka.kolicina}}</td>
                    <td md-cell>{{stavka.jedinicaMere}}</td>
                    <td md-cell>{{stavka.jedinicnaCena}}</td>
                    <td md-cell>{{stavka.vrednost}}</td>
                    <td md-cell>{{stavka.procenatRabata}}</td>
                    <td md-cell>{{stavka.iznosRabata}}</td>
                    <td md-cell>{{stavka.umanjenoZaRabat}}</td>
                    <td md-cell>{{stavka.ukupanPorez}}</td>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{fakture.length}}" md-page-select
                             md-boundary-links="options.boundaryLinks" md-label="{page: 'Stranica:', rowsPerPage: 'redova po stranici', of: 'od'}">
        </md-table-pagination>
    </md-card>
    <h3 class="text-center" ng-if = "stavkeFakture.length == 0">Ova faktura nema nijednu stavku.</h3>
    <md-dialog-actions layout="row" layout-align="end center">
        <md-button ng-click="close()">Zatvori</md-button>
    </md-dialog-actions>
</md-dialog>