<md-dialog class="md-padding card" style="width: 400px">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Zahtev za izvod</h2>
        </div>
    </md-toolbar>
    <form novalidate name="zahtevZaIzvodForm" layout="column">
        <md-dialog-content style="padding-top: 30px">
            <md-input-container class="md-block">
                <label>Broj računa</label>
                <input id="brojRacuna" name="brojRacuna" type="text" ng-model="firma.racunFirme" disabled>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Datum</label>
                <input id="datumZahteva" name="datumZahteva" type="date" ng-model = "zahtevZaIzvod.datum" max="{{danasnjiDatum | date:'yyyy-MM-dd'}}" required>
                <div ng-messages="zahtevZaIzvodForm.datumZahteva.$error" ng-if="zahtevZaIzvodForm.datumZahteva.$dirty">
                    <div ng-message="required">Obavezan je unos datuma</div>
                    <div ng-message="max">Datum ne sme biti veći od današnjeg</div>
                </div>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-if="!obradaUToku" ng-click="close()">Zatvori</md-button>
            <md-button ng-if="!obradaUToku" ng-click="posaljiZahtev()" ng-disabled="zahtevZaIzvodForm.$invalid">Pošalji</md-button>
            <div class="container" ng-if = "obradaUToku">
                <md-progress-linear md-mode="query"></md-progress-linear>
                <div class="bottom-block">
                    <span>Zahtev za izvod se obrađuje</span>
                </div>
            </div>
        </md-dialog-actions>
    </form>
</md-dialog>