pre {
    border: none;
    background-color: transparent;
}

.virtualRepeatInfiniteScroll #vertical-container {
    height: 292px;
    width: 100%;
    max-width: 400px; }

.virtualRepeatInfiniteScroll .repeated-item {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    height: 40px;
    padding-top: 10px; }

.virtualRepeatInfiniteScroll md-content {
    margin: 16px; }

.virtualRepeatInfiniteScroll md-virtual-repeat-container {
    border: solid 1px grey; }

.virtualRepeatInfiniteScroll .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
    padding-left: 16px; }

.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0; }


.fabSpeedDialdemoBasicUsage .text-capitalize {
    text-transform: capitalize; }

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
    background-color: #000 !important; }

.fabSpeedDialdemoBasicUsage p.note {
    font-size: 1.2rem; }

.fabSpeedDialdemoBasicUsage .lock-size {
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto; }

.md-button.md-fab.md-fab-bottom-right {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}

.md-table-pagination .label {
    color: black;
    font-size:small;
    font-weight: 100;
}


